img{
    width: 100px;
    height: 100px;
}
.bg-black .navbar-nav .nav-item .nav-link {
    color: white;
  }
  .me-auto.active{
    border-bottom: 1px solid white;
  }
  .navbar-toggler {
    border-color: black
  }
  
  .navbar-toggler-icon {
    background-color: red; 
    padding: 20px;
    border-radius: 10px;
  }
  